.wave{
    position: relative;
    width: 16.8rem;
    height: 25.30rem;
    border-radius: 10rem;
}
.box-1{
    left:13rem ;
    top: 3rem;
}
.box-2{
    left:2rem ;
    top:-40rem;
}
.box-3{
    left:9rem ;
    top:5rem;
}
.csit-logo{
        position: relative;
        width: 14rem;
        top: -63rem;
        left: 12rem;
    }
@media only screen and (max-width: 2500px) {
        .box-1{
            left:13rem ;/*c*/
            top: 3rem;/*c*/
        }
        .box-2{
            left:2rem ;/*c*/
            top:-40rem;/*c*/
        }
        .box-3{
            left:6rem ;
            top:5rem;/*c*/
        }
    
}
@media only screen and (max-width: 2270px) {
    .box-1{
        left:10.5rem ;
        top: 4.5rem;
    }
    .box-2{
        left:2rem ;/*c*/
        top:-40rem;/*c*/
    }
    .box-3{
        left:4.5rem ;
        top:2.5rem;
    }
    
}
@media only screen and (max-width: 2150px) {
    .csit-logo {
        width: 13rem;
        top: -61rem;
        left: 11rem;
    }
    .box-1{
        left:10.5rem ;/*c*/
        top: 4.5rem;/*c*/
    }
    .box-2{
        left:0rem ;
        top:-40rem;/*c*/
    }
    .box-3{
        left:4.5rem ;/*c*/
        top:2.5rem;/*c*/
    }
    
}
@media only screen and (max-width: 2010px) {
    .box-1{
        left: 9.5rem ;
        top: 4.5rem;
    }
    .box-2{
        left:0rem ;
        top:-40rem;/*c*/
    }
    .box-3{
        left:0.5rem ;
        top:0.5rem;
    }
    
}
@media only screen and (max-width: 2010px) {
    .box-1{
        left: 8.5rem ;/*c*/
        top: 3.5rem;/*c*/
    }
    .box-2{
        left:0rem ;/*c*/
        top:-40rem;/*c*/
    }
    .box-3{
        left:2.5rem ;
        top:1.5rem;
    }
    
}
@media only screen and (max-width: 1800px) {
    .box-1{
        left: 9.5rem ;
        top: 4.5rem;
    }
    .box-2{
        left:0rem ;/*c*/
        top:-40rem;/*c*/
    }
    .box-3{
        left:0.5rem ;
        top:0.5rem;
    }
    
}
@media only screen and (max-width: 1600px) {
    .csit-logo {
        top: -60rem;
        left: 9rem;
    }
    .box-1{
        left:7.5rem ;
        top: 5.5rem;
    }
    .box-2{
        left:-1rem ;
        top:-40rem;/*c*/
    }
    .box-3{
        left:1.5rem ;
        top:0.5rem;/*c*/
    }
    
}
@media only screen and (max-width: 1350px) {
    .csit-logo {
        top: -51rem;/*c*/
        left: 7rem;
        width: 12rem;
    }
    .wave{
        width: 15rem;
        height: 24rem;
        border-radius: 9rem;
        }
    .box-1{
        left:6.5rem ;/*c*/
        top: 3.5rem;
    }
    .box-2{
        left:-4rem ;/*c*/
        top:-40rem;
    }
    .box-3{
        left:-4.5rem ;/*c*/
        top:0.5rem;
    }
    
}
@media only screen and (max-width: 1350px) {
    .wave{
        width: 14rem;/*c*/
        height: 22rem;/*c*/
        border-radius: 8rem;/*c*/
    }
    .box-1{
        left:6.5rem ;
        top: 5.5rem;/*c*/
    }
    .box-2{
        left:-1rem ;/*c*/
        top:-33rem;/*c*/
    }
    .box-3{
        left:3.5rem ;/*c*/
        top:0.5rem;
    }
    
}
@media only screen and (max-width: 1150px) {
    .csit-logo {
            top: -51rem;
            left: 4rem;/*c*/
            width: 11rem;/*c*/
    }
    .wave{
        width: 14rem;
        height: 22rem;
        border-radius: 8rem;
    }
    .box-1{
        left:2.5rem ;
        top: 5.5rem;
    }
    .box-2{
        left:-5rem ;
        top:-33rem;
    }
    .box-3{
        left:-1.5rem ;
        top:0.5rem;
    }
    
}