@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,900&display=swap');

:root {
  --primary: rgb(0, 45, 129);
  --darkBackground :#111827;
  font-family: 'Poppins', sans-serif;
}
.rotate90{
    rotate: 90deg;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 3px;
}

*::-webkit-scrollbar-track {
background: rgb(208, 208, 208);
border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
border-radius: 14px;
background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
background: red;
} 

*:active{
    background-color: none;
    -webkit-tap-highlight-color: transparent !important; /* For WebKit-based browsers */
  tap-highlight-color: transparent !important; /* For other browsers */
}
.active{
  color: red;
}